[driver]
storage=minio
test-filename=test.txt
default-count=15
prefix=test-prefix
# this is a secondary verification of deletable object prefixes
deletable-prefix=test-prefix

[redis]
host=localhost
port=6379

[minio]
bucket=minio-bucket-name
endpointUrl=u
accessKey=a
secretKey=b

[s3]
bucket=s3-bucket-name
